$shockpink: #fb1465;
$shockblue: #0d217c;
$fws: 800px;

.fhtml {
  background-color: $shockblue;
}
.fbody {
  background-color: $shockblue;
  font-family: Roboto, sans-serif;
  p {
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: .5px;
  }
}
.fsc {
  padding: 40px 0;
  .ftitle {
    color: white;
  }
  &.fsc-white {
    background-color: white;
    .ftitle {
      color: $shockblue;
    }
  }
}
.fcg, .fcg-9 {
  a {
    p {
      margin: 0 0 20px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: 'Brandon Grotesque', sans-serif;
      color: white;
    }
  }
}
.fcg-9 {
  margin: 4em auto;
  width: $fws;
  height: $fws;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: $fws*.82;
    height: $fws*.82;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    overflow: hidden;
    border-radius: 50%;
    border: 2px dashed white;
  }
  h2.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 30px 0;
    z-index: 1;
    color: white;
    &::before, &::after {
      content: '';
      display: block;
      width: 50%;
      height: 3px;
      background-color: $shockpink;
      position: absolute;
      top: 0;
      left: 25%;
    }
    &::after {
      top: auto!important;
      bottom: 0;
    }
  }
  ul {
    position: absolute;
    width: $fws;
    height: $fws;
    overflow: hidden;
    li {
      list-style: none;
      text-align: center;
      width: $fws/6;
      height: $fws/2;
      left: 50%;
      top: 25%;
      position: absolute;
      transform: translate(-50%, -50%);
      transform-origin: left;
      a {
        display: block;
        img {
          transition: transform .2s;
        }
        h6 {
          display: inline-block;
          background: $shockblue;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
      @for $i from 2 through 9 {
        $j: $i - 1;
        &:nth-child(#{$i}) {
          transform: rotate($j*40deg) translate(-50%, -50%);
          a {
            transform: rotate(-$j*40deg);
          }
        }
      }
    }
  }
  h6 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.4;
  }
}
#recruitment {
  background-color: #333!important;
  h6 {
    letter-spacing: 1px;
  }
}
.fcv {
  min-height: 100vh;
  position: relative;
  .fimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0014ff;
    // background-blend-mode: multiply;
  }
  &.fcv-dark {
    h2, h4 {
      color: white;
      font-weight: 900;
      text-shadow: 0 3px 6px rgba(0,0,0,.4);
    }
    h2 {
      font-size: 36px;
      letter-spacing: 3px;
    }
    h4 {
      letter-spacing: 2px;
    }
  }
}
.fbn {
  font-family: 'Brandon Grotesque', sans-serif;
  background-color: $shockpink;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 900;
  color: white!important;
  letter-spacing: 1px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  transition: background-color .2s;
  &:hover {
    background-color: darken($shockpink, 5%);
  }
  &.fbn-med {
    min-width: 200px;
  }
  &.fbn-wide {
    min-width: 330px;
  }
}
.ftitle, .fstitle {
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.4;
  color: $shockblue;
}
.ftitle {
  font-size: 30px;
  letter-spacing: 2px;
}
.fstitle {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px 0;
}
.fsc-u {
  display: block;
  padding-bottom: 20px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30%;
    left: 35%;
    bottom: 0;
    background-color: $shockpink;
  }
}
.fft {
  background-color: transparent!important;
  color: white;
  a {
    color: white!important;
  }
  h5 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0;
  }
}
.fbg-g5 {
  background-color: darken(white, 5%)!important;
}
.ftt {
  background-color: $shockpink;
}
.fimgr {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.white {
  color: white;
}
.capitalize {
  text-transform: uppercase;
}
.__spacing {
  height: 1em;
  &._2em {
    height: 2em;
  }
  &._3em {
    height: 3em;
  }
  &._4em {
    height: 4em;
  }
  &._5em {
    height: 5em;
  }
  &._6em {
    height: 6em;
  }
}
[data-menu-style="transparent"] .navbar-nav>li>a {
  color: black;
}
@media screen and (min-width: 700px) {
  .fsc {
    padding: 80px 0;
  }
}



/**
 * Customize
 */
@media screen and (max-width: 699px) {
  .ftitle {
    font-size: 24px;
  }
  #services {
    img {
      max-width: 80%;
    }
  }
  .fcv .fimg {
    background-position: center bottom;
  }
  #cover {
    h2 {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 1.2;
    }
    h4 {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 700;
      line-height: 1.4;
      br {
        display: none;
      }
    }
  }
  .fbn {
    padding: 8px;
    font-size: 11px;
    letter-spacing: 1px;
    &.fbn-wide {
      min-width: 260px;
    }
  }
  .hero-fullscreen .container {
    text-align: center;
    padding-top: 60px;
    top: 50%;
  }
}